{%extends 'base.html'%}


{%block content%}

<h1>Check your Results now!!</h1>
<div class="container">
    <div class="row top">
        <a href="/cse" class="btn btn-outline-dark btn-lg col-lg ">CSE</a>
        <a href="/ece" class="btn btn-outline-dark btn-lg col-lg ">ECE</a>
        <a href="/civil" class="btn btn-outline-dark btn-lg col-lg ">CIVIL</a>

    </div>
    <div class="row">
        <a href="/mech" class="btn btn-outline-dark btn-lg col-lg ">MECH</a>
        <a href="/mme" class="btn btn-outline-dark btn-lg col-lg ">MME</a>
        <a href="/chem" class="btn btn-outline-dark btn-lg col-lg ">CHEM</a>
    </div>
</div>

{%endblock%}